@import url("/dz/style.css");
.task-5__form {
    display: flex;
    flex-direction: column;
}
.task-5__column {
    margin: 10px 0;
}
.task-5__txt,
.task-5__txtar {
    border-radius: 3px;
    width: 300px;
}
.task-5__txt {
    font-size: 16px;
    padding: 10px;
}
.task-5__txtar {
    height: 150px;
    padding: 10px;
}