/*Скругленные уголки на CSS*/

	/*Задание 1*/

		.block-1__task-1 {
            width: 300px;
            height: 300px;
            border: 1px solid green;
            border-radius: 40px;
        }

    /*Задание 2*/

		.block-1__task-2 {
            width: 300px;
            height: 300px;
            border: 3px solid green;
            border-radius: 40px;
            background-color: red;
        }

    /*Задание 3*/

		.block-1__task-3 {
            width: 300px;
            height: 300px;
            border: 3px solid green;
            border-radius: 150px;
        }

/*Разные скругления для разных углов CSS*/

	/*Задание 1*/

        .block-2__task-1 {
            width: 300px;
            height: 300px;
            border: 2px solid red;
            border-radius: 10px 50px 70px 80px;
        }

    /*Задание 2*/

        .block-2__task-2 {
            width: 300px;
            height: 300px;
            border: 2px solid red;
            border-radius: 15px 50px 15px 50px;
        }

    /*Задание 3*/

        .block-2__task-3 {
            width: 300px;
            height: 300px;
            border: 2px solid red;
            border-radius: 15px 40px 25px 40px;
        }

/*Скругленные уголки в процентах на CSS*/

	/*Задание 1*/

        .block-3__task-1 {
            width: 300px;
            height: 300px;
            border: 2px solid red;
            border-radius: 50%;
        }

/*Работа с фоновыми картинками через CSS*/

	/*Задание 1*/

        .block-4__task-1 {
            width:1980px;
            height: 600px;
            background-image: url(https://clck.ru/349FmF);
        }

    /*Задание 2*/

        .block-4__task-2 {
            width:1980px;
            height: 600px;
            background-repeat: repeat-y;
            background-image: url(https://clck.ru/349FmF);
        }

    /*Задание 3*/

        .block-4__task-3 {
            width:1980px;
            height: 600px;
            background-repeat: repeat-x;
            background-image: url(https://clck.ru/349FmF);
        }

        /*Задание 4*/

        .block-4__task-4-1 {
            width:1980px;
            height: 600px;
            background-repeat: no-repeat;
            background-image: url(https://clck.ru/349FmF);
            background-position: top center;
        }

        .block-4__task-4-2 {
            width:1980px;
            height: 600px;
            background-image: url(https://clck.ru/349FmF);
            background-size: cover;
        }

        .block-4__task-4-3 {
            width:1980px;
            height: 600px;
            background-image: url(https://clck.ru/349FmF);
            background-attachment: fixed;
        }

/*Работа с маркерами списков ul на CSS*/

	/*Задание 1*/

        .block-5__task-1 ul{
            list-style-type: square;
        }

    /*Задание 2*/

        .block-5__task-2 ul{
            list-style-type: circle;
        }

    /*Задание 3*/

        .block-5__task-3 ul{
            list-style-type: none;
        }

/*Работа с маркерами списков ol на CSS*/

	/*Задание 1*/
        
        .block-6__task-1 ol{
            list-style-type: lower-alpha;
        }

    /*Задание 2*/
        
        .block-6__task-2 ol{
            list-style-type: lower-greek;
        }

    /*Задание 3*/
        
        .block-6__task-3 ol{
            list-style-type: upper-alpha;
        }