/*Состояния ссылок на CSS*/

/*Задание 1*/

.block-1__task-1 a {
  color: blue;
  transition: color 1s;
}

.block-1__task-1 a:visited {
  color: green;
}

.block-1__task-1 a:hover {
  color: red;
  text-decoration: none;
}

.block-1__task-1 a:active {
  color: black;
}

/*Задание 2*/

.block-1__task-2 a:link,
.block-1__task-2 a:visited,
.block-1__task-2 a:active {
  color: blue;
  text-decoration: none;
}

.block-1__task-2 a:hover {
  color: red;
  text-decoration: underline;
}

/*Сложные селекторы с состояниями ссылок на CSS*/

/*Задание 1*/

.block-2__task-1 a {
  color: red;
}
.block-2__task-1 a:hover {
  text-decoration: none;
}

/*Задание 2*/

.block-2__task-2 a.zzz {
  color: red;
}
.block-2__task-2 a.zzz:hover {
  text-decoration: none;
}

/*Задание 3*/

.block-2__task-3 #block a.zzz {
  color: red;
}
.block-2__task-3 #block a.zzz:hover {
  text-decoration: none;
}

/*Задание 4*/

.block-2__task-4 .block a.zzz {
  color: red;
}
.block-2__task-4 .block a.zzz:hover {
  text-decoration: none;
}

/*Выборка по позиции элементов на CSS*/

/*Задание 1*/

.block-3__task-1__list li:first-child {
  color: red;
}

/*Задание 2*/

.block-3__task-2__list li:last-child {
  color: green;
}

/*Задание 3*/

.block-3__task-3__list li:first-child {
  color: red;
}

.block-3__task-3__list li:last-child {
  color: green;
}

/*Задание 4*/

.block-3__task-4__list li:nth-child(3) {
  color: green;
}

/*Задание 5*/

.block-3__task-5__list li:nth-child(odd) {
  color: red;
}

.block-3__task-5__list li:nth-child(even) {
  color: green;
}

/*Задание 6*/

.block-3__task-6__list li:nth-child(3n) {
  color: red;
}

/*Задание 7*/

.block-3__task-7__list li:nth-last-child(2) {
  color: red;
}

/*Задание 8*/

.block-3__task-8__list li:only-child {
  color: red;
}

/*Задание 9*/

.block-3__task-9__list li {
  border: 1px solid red;
  color: black;
  width: 100px;
  margin: 5px;
}

.block-3__task-9__list li:empty {
  border: 1px solid blue;
  color: black;
  width: 100px;
}

/*Выборка по позиции и типу элементов на CSS*/

/*Задание 1*/

.block-4__task-1--first p:first-of-type {
  color: red;
}

.block-4__task-1--last h2:last-of-type {
  color: red;
}

/*Задание 2*/

.block-4__task-2--nth-first p:nth-of-type(2) {
  color: red;
}

.block-4__task-2--nth-last h2:nth-last-of-type(3) {
  color: red;
}

/*Задание 3*/

.block-4__task-3-1 h2:only-of-type {
  color: red;
}

.block-4__task-3-2 h2:only-of-type {
  color: red;
}

/*Селектор отрицания на CSS*/

/*Задание 1*/

.block-5__task-1 li:not(.elem) {
  color: red;
}

/*Задание 2*/

.block-5__task-2 li:not(:first-child) {
  color: red;
}

/*Задание 3*/

.block-5__task-3 li:not(:first-child, :last-child) {
  color: red;
}
