/*Скругленные уголки на CSS*/

	/*Задание 1*/

		.block-1__task-1 {
            width: 300px;
            height: 300px;
            border: 1px solid green;
            border-radius: 40px;
        }

    /*Задание 2*/

		.block-1__task-2 {
            width: 300px;
            height: 300px;
            border: 3px solid green;
            border-radius: 40px;
            background-color: red;
        }

    /*Задание 3*/

		.block-1__task-3 {
            width: 300px;
            height: 300px;
            border: 3px solid green;
            border-radius: 150px;
        }

/*Разные скругления для разных углов CSS*/

	/*Задание 1*/

        .block-2__task-1 {
            width: 300px;
            height: 300px;
            border: 2px solid red;
            border-radius: 10px 50px 70px 80px;
        }

    /*Задание 2*/

        .block-2__task-2 {
            width: 300px;
            height: 300px;
            border: 2px solid red;
            border-radius: 15px 50px 15px 50px;
        }

    /*Задание 3*/

        .block-2__task-3 {
            width: 300px;
            height: 300px;
            border: 2px solid red;
            border-radius: 15px 40px 25px 40px;
        }

/*Скругленные уголки в процентах на CSS*/

	/*Задание 1*/

        .block-3__task-1 {
            width: 300px;
            height: 300px;
            border: 2px solid red;
            border-radius: 50%;
        }

/*Работа с фоновыми картинками через CSS*/

	/*Задание 1*/

        .block-4__task-1 {
            width:1980px;
            height: 600px;
            background-image: url(https://clck.ru/349FmF);
        }

    /*Задание 2*/

        .block-4__task-2 {
            width:1980px;
            height: 600px;
            background-repeat: repeat-y;
            background-image: url(https://clck.ru/349FmF);
        }

    /*Задание 3*/

        .block-4__task-3 {
            width:1980px;
            height: 600px;
            background-repeat: repeat-x;
            background-image: url(https://clck.ru/349FmF);
        }

        /*Задание 4*/

        .block-4__task-4-1 {
            width:1980px;
            height: 600px;
            background-repeat: no-repeat;
            background-image: url(https://clck.ru/349FmF);
            background-position: top center;
        }

        .block-4__task-4-2 {
            width:1980px;
            height: 600px;
            background-image: url(https://clck.ru/349FmF);
            background-size: cover;
        }

        .block-4__task-4-3 {
            width:1980px;
            height: 600px;
            background-image: url(https://clck.ru/349FmF);
            background-attachment: fixed;
        }

/*Работа с маркерами списков ul на CSS*/

	/*Задание 1*/

        .block-5__task-1 ul{
            list-style-type: square;
        }

    /*Задание 2*/

        .block-5__task-2 ul{
            list-style-type: circle;
        }

    /*Задание 3*/

        .block-5__task-3 ul{
            list-style-type: none;
        }

/*Работа с маркерами списков ol на CSS*/

	/*Задание 1*/
        
        .block-6__task-1 ol{
            list-style-type: lower-alpha;
        }

    /*Задание 2*/
        
        .block-6__task-2 ol{
            list-style-type: lower-greek;
        }

    /*Задание 3*/
        
        .block-6__task-3 ol{
            list-style-type: upper-alpha;
        }

/*Работа с отступами margin на CSS*/

	/*Задание 1*/

        .block-7__task-1 {
            width: 500px;
            height: 500px;
            border: 1px dashed blue;
        }

        .block-7__task-1__child-1 {
            height: 400px;
            border: 1px solid orange;
            margin: 50px;
        }
    
    /*Задание 1*/

        .block-7__task-2 {
            width: 500px;
            height: 500px;
            border: 1px dashed blue;
        }

        .block-7__task-2__child-1 {
            height: 400px;
            border: 1px dashed green;
            margin: 50px;
        }

        .block-7__task-2__child-2 {
            height: 300px;
            border: 1px solid red;
            margin: 50px;
        }

/*Отступы margin для разных сторон*/

	/*Задание 1*/

        .block-8__task-1 {
            width: 400px;
            border: 1px dashed blue;
        }

        .block-8__task-1__child-1 {
            height: 200px;
            border: 1px solid orange;
            margin: 50px 50px 200px 50px;
        }   

    /*Задание 2*/

        .block-8__task-2 {
            width: 400px;
            border: 1px dashed blue;
        }
        .block-8__task-2__child-1 {
            height: 200px;
            border: 1px solid orange;
            margin: 200px 50px 200px 50px;
        }

    /*Задание 3*/

        .block-8__task-3 {
            width: 400px;
            border: 1px dashed blue;
        }
        .block-8__task-3__child-1 {
            height: 200px;
            border: 1px solid orange;
            margin: 10px 80px 10px 80px;
        }

/*Несколько значений в свойстве margin*/

	/*Задание 1*/

        .block-9__task-1 {
            width: 400px;
            border: 1px dashed orange;
        }

        .block-9__task-1__child-1 {
            height: 100px;
            border: 1px dashed blue;
            margin: 50px 100px 200px 25px;
        }

    /*Задание 2*/

        .block-9__task-2 {
            width: 400px;
            border: 1px dashed orange;
        }

        .block-9__task-2__child-1 {
            height: 100px;
            border: 1px dashed blue;
            margin: 200px 50px 200px 50px;
        }

    /*Задание 3*/

        .block-9__task-3 {
            width: 400px;
            border: 1px dashed orange;
        }

        .block-9__task-3__child-1 {
            height: 100px;
            border: 1px dashed blue;
            margin: 40px 80px 40px 80px;
        }

    /*Задание 4*/

        .block-9__task-4 {
            width: 400px;
            border: 1px dashed orange;
        }

        .block-9__task-4__child-1 {
            height: 100px;
            border: 1px dashed blue;
            margin: 200px 80px 40px;
        }

    /*Задание 5*/

        .block-9__task-5 {
            width: 800px;
            border: 1px dashed orange;
        }

        .block-9__task-5__child-1 {
            height: 100px;
            border: 1px dashed blue;
            margin: 40px 200px 90px;
        }