@import url("/dz/style.css");
.task-1__txtar {
    resize: horizontal;
}
.task-2__txtar {
    resize: vertical;
}
.task-3__txtar {
    resize: none;
}
.task-4__txtar {
    max-height: 200px;
    max-width: 400px;
}