@import url("/dz/style.css");
.input_hover:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}
.txt__placeHolder_tr:focus::placeholder {
    color: transparent;
}
.task-4__label input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}