@import url("/dz/style.css");
.task-1__text {
    text-shadow: 10px 5px 3px #ff0000;
}
.task-2__text {
    text-shadow: -10px -5px 0 #00ff00;
}
.task-3__text {
    text-shadow: 15px -10px 0 #00ff00;
}
.task-4__text {
    text-shadow: 0 0 5px #00ff00;
}
.task-5__text {
    text-shadow: 0 15px 0 #00ff00, 0 -15px 0 #ff0000;
}
.task-6__text {
    text-shadow: 3px 2px 3px;
}
.task-7__text {
    text-shadow: 0 0 3px;
}
.task-8__text {
    text-shadow: 0 0 3px #ff0000;
}
.task-9__text {
    text-shadow: 9px 11px 3px #ff0000, -9px -11px 3px #0000ff;
}
.task-10__text {
    text-shadow: 9px 11px 0 #ff0000, 18px 20px 0 #0000ff;
}