@import url("/dz/style.css");
.task-3__txt::placeholder {
    color: #00ff00;
}
.task-4__txtar::placeholder {
    color: #00ff00;
}
.task-5__form {
    flex-direction: column;
}
.task-5__col {
    margin: 10px 0;
}
.task-5__txt,
.task-5__txtar {
    width: 300px;
    font-size: 16px;
}
.task-5__txt::placeholder,
.task-5__txtar::placeholder {
    color: #00ff00;
}