@import url("/dz/style.css");
.input__txt_focus:focus {
    border: 1px solid #ff0000;
    box-shadow: 0 0 3px #ff0000;
}
.task-2__txt:focus {
    border-width: 2px;
    box-shadow: 0 0 3px #ff0000;
}